server {
    listen 443 ssl;
    server_name {{ host }};

    # Certs
    ssl_certificate /etc/nginx/certs/{{ host }}/fullchain.pem;
    ssl_certificate_key /etc/nginx/certs/{{ host }}/privkey.pem;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers HIGH:!aNULL:!MD5;

    {{#auth}}
    # Include common OAuth2 configuration
    include /etc/nginx/conf.d/oauth2.conf.incl;
    {{/auth}}

    location / {

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        # Forwarded uri
        proxy_set_header X-Forwarded-Uri $request_uri;

        # Allow cross-domain cookies
        proxy_cookie_domain {{ host }} $host;
        proxy_cookie_path / "/; SameSite=Lax";

        proxy_pass http://{{ name }}:{{ port }};
    }
}
